<!--
  ~ data·café
  ~ Copyright (c) 2021-2022 Data Terrae
  ~ This program is under the terms of the GNU Affero General Public License version 3
  ~ The full license information can be found in LICENSE in the root directory of this project.
  -->

<h1>Datagrid Playground</h1>

<div class="clr-row">
  <div class="clr-col-9">
    <dt-datagrid (edit)="onEdit($event)"
                 [editable]="controls.editable"
                 [items]="items"
                 [texts]="texts"></dt-datagrid>
  </div>
  <div class="clr-col-3">
    <clr-accordion>
      <clr-accordion-panel [clrAccordionPanelOpen]="true">
        <clr-accordion-title>Actions</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <form class="clr-form clr-form-vertical">

            <!-- Editable -->
            <clr-checkbox-container>
              <label>Editable</label>
              <clr-checkbox-wrapper>
                <input [(ngModel)]="controls.editable" [ngModelOptions]="{standalone: true}" clrCheckbox
                       type="checkbox"/>
                <label>enable edition</label>
              </clr-checkbox-wrapper>
            </clr-checkbox-container>

          </form>
        </clr-accordion-content>
      </clr-accordion-panel>

      <clr-accordion-panel>
        <clr-accordion-title>Texts</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <form class="clr-form clr-form-vertical">

            <!-- h1 -->
            <clr-input-container>
              <label>h1</label>
              <input [(ngModel)]="texts.h1" [ngModelOptions]="{standalone: true}" clrInput type="text"/>
            </clr-input-container>

            <!-- h2 -->
            <clr-input-container>
              <label>h2</label>
              <input [(ngModel)]="texts.h2" [ngModelOptions]="{standalone: true}" clrInput type="text"/>
            </clr-input-container>

            <!-- h3 -->
            <clr-input-container>
              <label>h3</label>
              <input [(ngModel)]="texts.h3" [ngModelOptions]="{standalone: true}" clrInput type="text"/>
            </clr-input-container>

            <!-- top -->
            <clr-input-container>
              <label>top</label>
              <input [(ngModel)]="texts.top" [ngModelOptions]="{standalone: true}" clrInput type="text"/>
            </clr-input-container>

            <!-- placeholder -->
            <clr-input-container>
              <label>placeholder</label>
              <input [(ngModel)]="texts.placeholder" [ngModelOptions]="{standalone: true}" clrInput type="text"/>
            </clr-input-container>

            <!-- fallbackLabel -->
            <clr-input-container>
              <label>fallbackLabel</label>
              <input [(ngModel)]="texts.fallbackLabel" [ngModelOptions]="{standalone: true}" clrInput type="text"/>
            </clr-input-container>

            <!-- counter -->
            <clr-input-container>
              <label>counter</label>
              <input [value]="texts.counter" clrInput disabled type="text"/>
            </clr-input-container>

            <!-- bottom -->
            <clr-input-container>
              <label>bottom</label>
              <input [(ngModel)]="texts.bottom" [ngModelOptions]="{standalone: true}" clrInput type="text"/>
            </clr-input-container>

          </form>
        </clr-accordion-content>
      </clr-accordion-panel>

    </clr-accordion>
  </div>
</div>
