<!--
  ~ data·café
  ~ Copyright (c) 2021-2022 Data Terrae
  ~ This program is under the terms of the GNU Affero General Public License version 3
  ~ The full license information can be found in LICENSE in the root directory of this project.
  -->

<h1 *ngIf="texts?.h1" [innerText]="texts!.h1"></h1>
<h2 *ngIf="texts?.h2" [innerText]="texts!.h2"></h2>
<h3 *ngIf="texts?.h3" [innerText]="texts!.h3"></h3>
<p *ngIf="texts?.top" [innerText]="texts!.top"></p>

<clr-datagrid [clrLoading]="ui.loading">

  <!-- Actions -->
  <clr-dg-action-bar *ngIf="actions?.length">
    <div *ngFor="let action of actions" class="btn-group">
      <button (click)="action.callback($event)"
              [clrLoading]="action.loading ?? ClrLoadingState.DEFAULT"
              class="btn btn-sm btn-secondary"
              type="button">
        <cds-icon *ngIf="action.icon" [attr.shape]="action.icon"></cds-icon>
        {{ action.label }}
      </button>
    </div>
  </clr-dg-action-bar>

  <!-- Placeholder -->
  <clr-dg-placeholder *ngIf="texts?.placeholder">{{ texts!.placeholder }}</clr-dg-placeholder>

  <!-- Columns -->
  <clr-dg-column *ngFor="let col of data?.cols ?? NO_COLS">{{ col.title }}</clr-dg-column>

  <!-- Rows -->
  <clr-dg-row *ngFor="let item of data?.items ?? NO_ITEMS" [clrDgItem]="item">
    <clr-dg-cell *ngFor="let col of data?.cols ?? NO_COLS">

      <dt-cell-editable (save)="onEdit(item, col.property, $event.current)"
                        [enable]="ui.editable"
                        [fallbackLabel]="col.fallbackLabel ?? texts?.fallbackLabel ?? undefined"
                        [item]="item[col.property]"></dt-cell-editable>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer *ngIf="data && texts?.counter">
    {{ texts!.counter!(data!.items.length) }}
  </clr-dg-footer>
</clr-datagrid>

<p *ngIf="texts?.bottom" [innerText]="texts!.bottom"></p>
