<!--
  ~ data·café
  ~ Copyright (c) 2021-2022 Data Terrae
  ~ This program is under the terms of the GNU Affero General Public License version 3
  ~ The full license information can be found in LICENSE in the root directory of this project.
  -->

<editable (modeChange)="onEditableChange($event)"
          (save)="onEdit()"
          [class.can-edit]="enable"
          [class.is-editing]="editing$ | async"
          [enabled]="enable">
  <ng-template viewMode>
    <span [class.missing]="!item && fallbackLabel"
          [innerText]="getLabel(item) ?? fallbackLabel ?? ''"></span>
  </ng-template>
  <ng-template editMode>

    <input *ngIf="!altValues"
           [formControl]="formControl"
           clrInput
           editableFocusable editableOnEnter editableOnEscape trim="blur"/>

    <select *ngIf="altValues"
            [formControl]="formControl"
            clrSelect
            editableFocusable editableOnEnter editableOnEscape>
      <option [label]="fallbackLabel" [ngValue]="null" class="missing"></option>
      <option *ngFor="let alt of altValues" [label]="getLabel(alt)" [ngValue]="alt"></option>
    </select>

    <div class="btn-group btn-sm btn-icon">
      <button class="btn btn-success" editableOnSave>
        <cds-icon [attr.shape]="ICON.VALID"></cds-icon>
      </button>
      <button class="btn btn-danger" editableOnCancel>
        <cds-icon [attr.shape]="ICON.CANCEL"></cds-icon>
      </button>
    </div>
  </ng-template>
</editable>
