/*!
 * data·café
 * Copyright (c) 2021-2022 Data Terrae
 * This program is under the terms of the GNU Affero General Public License version 3
 * The full license information can be found in LICENSE in the root directory of this project.
 */

:host {
  display: contents;

  editable {
    height: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &.can-edit {
      cursor: pointer;
    }

    &:not(.is-editing) {
      flex-flow: wrap;

      padding: 0 0.6rem;

      overflow-wrap: break-word;
    }

    &.is-editing {
      flex-flow: nowrap;

      padding: 0 0.3rem;
    }

    ::ng-deep {
      .clr-form-control {
        display: contents;

        .clr-control-container {
          display: contents;
          margin: 0;

          .clr-input-wrapper,
          .clr-select-wrapper {
            display: contents;

            input,
            select {
              width: calc(100% - 4.2rem); // minus btn-group and margin
              min-width: unset;
              max-width: unset;
              flex-grow: 1;
              flex-shrink: 1;
            }
          }
        }
      }

      .btn-group {
        // Button = 0.6rem [icon] + 2x 0.6rem [padding] + 2x 0.05rem [border]
        min-width: 3.8rem; // 2x buttons
        flex-grow: 0;
        flex-shrink: 0;
      }

      * + .btn-group {
        margin: 0 0 0 0.4rem;
      }
    }
  }
}
